<h1>Movie #<%=@movie.id %> </h1>

  <div>
    <label>
      Title
    </label>
  <%=@movie.title %>
  </div>

  <!-- Label and input for year -->
  <div>
    <label>
      Year
    </label>
      <%=@movie.year %>
  </div>

  <!-- Label and input for duration -->
  <div>
    <label>
      Duration
    </label>
      <%=@movie.duration %>
  </div>

  <!-- Label and input for description -->
  <div>
    <label>
      Description
    </label>
  <%=@movie.description %>
  </div>

  <!-- Label and input for image_url -->
  <div>
    <label>
      Image url
    </label>
    <%=@movie.image_url %>
  </div>

  <!-- Label and input for director_id -->
  <div>
    <label>
      Director
    </label>
  <%=@movie.director_id %>
  </div>
