<h1>Director #<%=@director.id %> </h1>

  <div>
    <label>
      Dob
    </label>
  <%=@director.dob %>
  </div>

  <!-- Label and input for year -->
  <div>
    <label>
      Name
    </label>
      <%=@director.name %>
  </div>

  <!-- Label and input for duration -->
  <div>
    <label>
      Bio
    </label>
      <%=@director.bio %>
  </div>

  <!-- Label and input for description -->
  <div>
    <label>
      Image
    </label>
  <%=@director.image_url %>
  </div>
